.paragraph {

}

.small {
	font-size: 16px;
}

.medium {
	font-size: 20px;
}

.large {
	font-size: 24px;
}

.red {
	color: var(--color-red);
}

.yellow {
	color: var(--color-yellow);
}

.blue {
	color: var(--color-blue);
}