.navigation {
	max-width: var(--container);
	margin: 0 auto;
	padding: var(--space-xs) var(--space-2xs);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: var(--font-national-park);
	font-weight: var(--font-weight-bold);
	color: var(--color-black);
	text-decoration: none;
	transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

	&:hover,
	&:active,
	&:focus {
		color: var(--color-redleather);
	}
}

.list {
	display: flex;
	gap: var(--space-xs);
}

.listItem {
	padding: 0;
	margin: 0;
	list-style: none;
}

.link {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	color: var(--color-black);
	transition: color 0.3s cubic-bezier(.215, .61, .355, 1);
	display: inline-flex;
	justify-content: center;
	align-items: center;

	.icon {
		margin-right: var(--space-2xs);
		display: inline-block;
		transform: translate(1rem) translateY(-.5rem) rotate(60deg) scale(.5);
		transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
		visibility: hidden;
		opacity: 0;
	}

	span {
		transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--color-redleather);
		
		.icon {
			visibility: visible;
			opacity: 1;
			transform: translate(0) translateY(0);
		}

		span {
			transform: translate3d(-.125rem, 0, 0);
		}
	}
}
