.navigation {
  max-width: var(--container);
  margin: 0 auto;
  padding: var(--space-xs) var(--space-2xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--font-size-2xs);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-black);
  color: var(--color-black);
  text-decoration: none;
}
