:root {
	--color-sand: #f9e4d6;
	--color-black: #010301;
	--color-blue: #2d2691;
	--color-red: #a23648;
	--color-yellow: #fccf00;
	--color-white: #FAF5F7;
	--font-figtree: "Figtree Variable", ui-sans-serif, system-ui, sans-serif;
	--font-size-large: 18px;
	--font-size-body: 16px;
	--font-size-small: 14px;
}