.hero {
	margin-top: var(--space-l);
	padding: 0 var(--space-2xs) var(--space-m) var(--space-2xs);
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);

	@media (--viewport-md) {
		margin-top: var(--space-2xl);
		min-height: 100dvh;
	}
}

.container {
	max-width: var(--container);
	margin: 0 auto;
}

.title {
	font-size: var(--font-size-lg);
	font-weight: 600;
	text-wrap: pretty;

	@media (--viewport-md) {
		font-size: var(--font-size-xxl);
	}
}

.subtitle {
	font-size: var(--font-size-m);
	text-wrap: pretty;
	border-left: 6px solid black;
	padding-left: var(--space-xs);

	@media (--viewport-md) {
		margin: 0 var(--space-2xl);
		padding: 0;
		border: 0;
	}
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 100dvw;
	width: 100%;
	min-height: 480px;
	height: 20dvh;
	scale: 0.8;
	transform: translateY(0);

	@media (--viewport-md) {
		max-width: 80dvw;
		height: 70dvh;
	}

	> img {
		object-fit: cover;
		object-position: center center;
		border-radius: var(--rounded-l);
	}
}
