:root {
	--color-ginger: #f9e4d6;
	--color-redleather: #ad4c4e;
	--color-graphite: #62646b;
	--color-peach: #e38b75;
	--color-dark-grey: #2b2d33;
	--color-white: #ffffff;
	--color-black: #000000;

	--font-sans: "National Park Variable", sans-serif;

	--ease-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

	--font-size-2xs: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --font-size-xs: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --font-size-base: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --font-size-s: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --font-size-m: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --font-size-l: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --font-size-xl: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --font-size-2xl: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

	--space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  --rounded-2xl: 1rem;
  --rounded-full: 9999px;
}

body, html {
	background-color: var(--color-ginger);
	color: var(--color-dark-grey);
	font-family: var(--font-sans);
  font-size: var(--font-size-base);
}