@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-ginger: rgba(249, 228, 214, 1);
  --color-redleather: rgba(173, 76, 78, 1);
  --color-graphite: rgba(98, 100, 107, 1);
  --color-peach: rgba(227, 139, 117, 1);

  --font-serif: "Literata Variable", serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-black, currentColor);
  }
}

@utility container {
  margin-inline: auto;
}

body {
  > nav {
    @apply sticky top-0 mt-12 z-50 container grid gap-4 md:grid-cols-2 py-4 items-center bg-ginger px-4;

    border-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 75%
      )
      1;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
  }

  > main {
    @apply border-x-2 border-black container;
  }

  > footer {
    @apply container grid md:grid-cols-3 gap-8 md:gap-0 items-center w-full py-8 px-4;

    border-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 75%
      )
      1;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
  }
}
