.top-spacing-3xs {
	margin-top: var(--space-3xs);
}

.top-spacing-2xs {
	margin-top: var(--space-2xs);
}

.top-spacing-xs {
	margin-top: var(--space-xs);
}

.top-spacing-s {
	margin-top: var(--space-s);
}

.top-spacing-m {
	margin-top: var(--space-m);
}

.top-spacing-l {
	margin-top: var(--space-l);
}

.top-spacing-xl {
	margin-top: var(--space-xl);
}

.top-spacing-2xl {
	margin-top: var(--space-2xl);
}

.top-spacing-3xl {
	margin-top: var(--space-3xl);
}

.bottom-spacing-3xs {
	margin-bottom: var(--space-3xs);
}

.bottom-spacing-2xs {
	margin-bottom: var(--space-2xs);
}

.bottom-spacing-xs {
	margin-bottom: var(--space-xs);
}

.bottom-spacing-s {
	margin-bottom: var(--space-s);
}

.bottom-spacing-m {
	margin-bottom: var(--space-m);
}

.bottom-spacing-l {
	margin-bottom: var(--space-l);
}

.bottom-spacing-xl {
	margin-bottom: var(--space-xl);
}

.bottom-spacing-2xl {
	margin-bottom: var(--space-2xl);
}

.bottom-spacing-3xl {
	margin-bottom: var(--space-3xl);
}
