.spacing-3xs {
	margin-top: var(--space-3xs);
	margin-bottom: var(--space-3xs);
}

.spacing-2xs {
	margin-top: var(--space-2xs);
	margin-bottom: var(--space-2xs);
}

.spacing-xs {
	margin-top: var(--space-xs);
	margin-bottom: var(--space-xs);
}

.spacing-s {
	margin-top: var(--space-s);
	margin-bottom: var(--space-s);
}

.spacing-m {
	margin-top: var(--space-m);
	margin-bottom: var(--space-m);
}

.spacing-l {
	margin-top: var(--space-l);
	margin-bottom: var(--space-l);
}

.spacing-xl {
	margin-top: var(--space-xl);
	margin-bottom: var(--space-xl);
}

.spacing-2xl {
	margin-top: var(--space-2xl);
	margin-bottom: var(--space-2xl);
}

.spacing-3xl {
	margin-top: var(--space-3xl);
	margin-bottom: var(--space-3xl);
}
