:root {
  --color-ginger: rgba(249, 228, 214, 1);
  --color-redleather: rgba(173, 76, 78, 1);
  --color-graphite: rgba(98, 100, 107, 1);
  --color-peach: rgba(227, 139, 117, 1);
  --color-black: black;
  --color-white: white;

  --font-serif: "Literata Variable", serif;

  --font-size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --font-size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --font-size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --font-size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --font-size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --font-size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --font-size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --font-size-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --font-weight-black: 800;

  --space-xxs: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 0.75rem; /* 12px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-2xl: 2.5rem; /* 40px */
  --space-3xl: 3rem; /* 48px */
  --space-4xl: 4rem; /* 64px */

  --container: 1200px; /* Default width */
  --container-full: 100vw; /* Full width */
}
