:root {
    --primary-50: oklch(97.42% 0.01 58.22deg);
    --primary-100: oklch(93.28% 0.03 58.28deg);
    --primary-200: oklch(87.26% 0.05 52.81deg);
    --primary-300: oklch(78.86% 0.08 49.60deg);
    --primary-400: oklch(69.30% 0.12 43.22deg);
    --primary-500: oklch(62.79% 0.15 39.11deg);
    --primary-600: oklch(57.58% 0.16 34.67deg);
    --primary-700: oklch(49.78% 0.14 31.71deg);
    --primary-800: oklch(43.04% 0.11 28.97deg);
    --primary-900: oklch(37.70% 0.09 28.57deg);
    --primary-950: oklch(24.86% 0.06 26.91deg);
    --font-figtree: "Figtree Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}