.container {
	max-width: var(--container);
	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--space-s);
	text-align: center;
}

.title {
	font-size: var(--font-size-xl);
	margin-top: var(--space-xs);
}

.subtitle {
	position: relative;
	font-size: var(--font-size-base);

	> span {
		background: var(--color-ginger);
		z-index: 1;
		position: relative;
		padding: 0 var(--space-xs);
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		height: 3px;
		background-color: currentColor;
		border-radius: 30px;
	}
}
