.h1 {
	font-size: var(--font-size-xxl);
}

.h2 {
	font-size: var(--font-size-xl);
}

.h3 {
	font-size: var(--font-size-lg);
}

.h4 {
	font-size: var(--font-size-md);
}

.h5 {
	font-size: var(--font-size-sm);
}

.h6 {
	font-size: var(--font-size-base);
}