---
title: 'Test Blog Article'
description: lorem ipsum dolor sit amet
date: '08/03/2024'
published: true
thumbnail: 'https://placekitten.com/600/400'
---

<script>
  import BlogCover from '$lib/components/blogCover.svelte';
  import BlogContainer from '$lib/components/blogContainer.svelte';
</script>

<BlogCover title="This is a pretty lengthy title so I can test how it looks." image="https://placekitten.com/1280/600" />
<BlogContainer>
Hello World
</BlogContainer>