.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: var(--space-2xs);
	font-size: var(--font-size-xs);
}

.title {
	font-size: var(--font-size-xs);
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: inherit;
		text-underline-offset: 4px;
		text-decoration-thickness: 3px;
	}
}

.links {
	display: flex;
	gap: var(--space-3xs);
	justify-content: center;
	flex-wrap: wrap;
}

.footerLink {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
	transition: all 0.3s var(--ease-cubic);
	padding: 0.5rem 1rem;
	border-radius: 15px;
	position: relative;
}

.footerLink:hover,
.footerLink:focus {
	color: var(--color-ginger);
	background: var(--color-black);
	transform: translateY(-2px);
}
