---
import BaseLayout from '../layouts/BaseLayout.astro'
import Bio from '../sections/bio.astro'
import Footer from '../sections/footer.astro'
import Hero from '../sections/hero.astro'
---

<BaseLayout>
	<main>
		<div class="h-16 bg-hermes-300 lg:h-48"></div>
		<div class="flex flex-col gap-16 lg:gap-48">
			<Hero />
			<Bio />
		</div>
	</main>
	<Footer />
</BaseLayout>
