---
import BaseLayout from '../layouts/BaseLayout.astro'
import Footer from '../components/footer/footer.astro'
import Hero from '../components/hero/hero.astro'

import '../styles/variables.module.css';
import '../styles/global.module.css';
---

<BaseLayout>
	<Hero />
	<main></main>
	<Footer />
</BaseLayout>

