---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<meta content="width=device-width" name="viewport" />
		<meta content={Astro.generator} name="generator" />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="p-4 font-serif text-4xl font-bold">Patrick Roelofs</h1>
	</body>
</html>
