---
import { Image } from 'astro:assets'

import iquality from '../images/iquality.png'
---

<section class="mx-auto max-w-screen-2xl px-4">
	<p
		class="mb-16 max-w-screen-lg font-display text-[clamp(1.25rem,2vw,3rem)] font-medium leading-normal"
	>
		Despite limited work experience, I've passionately contributed to numerous websites, showcasing
		dedication and skill in every project.
	</p>

	<div class="flex flex-row">
		<a class="group flex items-center gap-4" href="https://iquality.nl" target="_blank">
			<div class="group rounded-lg bg-white p-4 shadow-lg">
				<Image
					alt="logo for the company iquality"
					class="rounded-lg"
					quality={100}
					src={iquality}
					width="48"
				/>
			</div>
			<div class="flex flex-col gap-1">
				<h4 class="text-[clamp(1.25rem,2vw,1.75rem)] font-semibold">Frontend developer</h4>
				<span class="inline-flex flex-grow-0 text-xl font-medium group-hover:underline">
					Iquality
				</span>
				<p class="">2021 - Present</p>
			</div>
		</a>
	</div>
</section>
