---
import { Image } from 'astro:assets'

import patrickImage from '../images/patrick.png'
---

<div class="mx-auto flex max-w-screen-2xl flex-col gap-8 px-4 py-12">
	<p class="text-pretty font-display text-[clamp(1.75rem,4vw,3.5rem)] leading-normal">
		<span class="font-black">Patrick Roelofs</span> is a front-end developer exploring what is possible
		on the web with cutting edge technologies.
	</p>
	<div
		class="relative flex justify-end overflow-clip rounded-3xl bg-gradient-to-br from-hermes-200 to-hermes-300"
	>
		<div>
			<Image
				alt="Patrick Roelofs"
				class="w-[550px]"
				loading="eager"
				src={patrickImage}
				width={750}
			/>
		</div>
	</div>
</div>
