<div class="mx-auto max-w-screen-2xl px-4 py-12">
	<p class="text-pretty font-display text-[clamp(1.75rem,4vw,3.5rem)] leading-normal">
		<span class="font-black">Patrick Roelofs</span> is a front-end developer exploring what is possible
		on the web with cutting edge technologies.
	</p>
</div>
