---
import { Image } from 'astro:assets'

import patrickImage from '../images/patrick.png'
---

<header
	class="relative mx-auto mb-[25vh] mt-16 flex h-[725px] max-w-screen-2xl flex-col items-center px-4 xl:flex-row"
>
	<div class="flex flex-col gap-8 xl:flex-row">
		<p
			class="text-hero-clamp z-10 mb-16 max-w-4xl text-balance px-0 pt-0 text-center font-display font-medium leading-snug xl:text-left"
		>
			A <span class="font-black">front-end developer</span> with a passion for user experiences.
		</p>
	</div>
	<div
		class="relative right-0 top-0 mx-auto aspect-square overflow-hidden rounded-md bg-gradient-to-br from-hermes-200 to-hermes-300 xl:absolute xl:w-[725px] xl:rounded-full"
	>
		<Image
			alt=""
			class="h-full w-full object-cover"
			loading="eager"
			src={patrickImage}
			width={1000}
		/>
	</div>
</header>
