<nav class="relative top-0 w-full">
	<div class="mx-auto flex max-w-screen-2xl items-center justify-between px-4 py-6">
		<a class="group" href="/">
			<h1
				class="font-display text-lg font-bold transition-all duration-300 ease-in-out group-hover:font-normal md:text-3xl"
			>
				Patrick Roelofs
			</h1>
		</a>
	</div>
</nav>
