---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import type { SbBlokData } from '@storyblok/astro'

const { blok } = Astro.props
---

<main {...storyblokEditable(blok)}>
	{
		blok.body?.map((blok: SbBlokData) => {
			if (!blok) return new Error('blok is undefined')
			return (
				<StoryblokComponent blok={blok} />
			)
		})
	}
</main>