---
import Image from 'astro/components/Image.astro'

import ArrowDownRight from '../icons/phosphor/arrow-down-right.astro'

const { href, imageSrc, target, title } = Astro.props
---

<a
	class="group flex w-full flex-col items-center justify-center rounded-sm bg-hermes-200 px-8 pt-8"
	href={href}
	target={target}
>
	<div class="flex items-center justify-center">
		<Image
			alt=""
			class="rounded-sm object-cover transition-transform duration-300 ease-in-out md:group-hover:scale-110"
			height={480}
			loading="eager"
			src={imageSrc || 'https://via.placeholder.com/680x480'}
			width={680}
		/>
	</div>
	<div class="relative flex w-full items-center justify-between overflow-hidden py-4">
		<p class="transition-all duration-300 ease-in-out group-hover:font-bold group-hover:underline">
			{title}
		</p>
		<ArrowDownRight
			class="absolute right-0 top-12 opacity-0 transition-all duration-300 ease-in-out group-hover:top-3 group-hover:opacity-100"
			size="32"
		/>
	</div>
</a>
