---
import styles from './link.module.css'
import accessibility from '../../styles/accessibility.module.css'
import External from '../icons/external.astro'
import {type HTMLAttributes} from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
  external?: boolean
}

const {
  external = false,
  class: className,
  ...rest
} = Astro.props
---

<a href={rest.href} class:list={[className ?? styles.link]} {...rest}>
  <slot />
  {external && (
    <External class={styles.icon} />
  )}
  {rest.target === '_blank' && (
    <span class={accessibility.visuallyHidden}> (opens in new tab)</span>
  )}
</a>