.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--space-2xs);

  @media (--viewport-sm) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.name {
  text-align: left;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  grid-column: 1;

  @media (--viewport-sm) {
    grid-column: 2;
    text-align: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--space-xs);
  justify-content: center;
  align-items: center;
}
