.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--container-full);
  max-width: var(--container);
  margin-inline-start: 4px;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.name {
  text-align: center;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-black);
  grid-column: 1;

  @media (min-width: 768px) {
    grid-column: 2;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--space-xs);
  justify-content: center;
  align-items: center;
  grid-column: 2;

  @media (min-width: 768px) {
    grid-column: 3;
  }
}
