.footer {
    background: var(--primary-200);
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    padding: 0 12px;
    max-width: 580px;
}

.header {
    font-weight: 700;
    font-size: 4rem;
}

.list {
    margin-top: 1.5rem;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
    font-weight: bold;

    &:hover, &:active {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
        outline: 2px solid var(--primary-600);
    }
}

