---
import ArrowSquareOut from '../icons/phosphor/arrow-square-out.astro'
---

<div class="mx-auto flex w-full max-w-screen-xl flex-col gap-2 px-4 lg:flex-row lg:gap-0">
	<h2 class="w-1/3 text-2xl font-bold">Bio</h2>
	<div class="flex flex-col gap-4 text-balance text-base">
		<p>
			I graduated in 2023 with a degree in web development from
			<a
				class="inline-flex gap-0.5 font-medium hover:underline"
				href="https://www.han.nl/"
				target="_blank"
			>
				HAN Arnhem
				<span class="flex flex-col justify-center">
					<ArrowSquareOut size="20" />
				</span>
			</a>. After completing my studies, I joined
			<a
				class="inline-flex gap-0.5 font-medium hover:underline"
				href="https://www.iquality.nl/"
				target="_blank"
			>
				Iquality
				<span class="flex flex-col justify-center">
					<ArrowSquareOut size="20" />
				</span>
			</a>, where I have since worked on several customer websites and applications.
		</p>
		<p>
			As a versatile developer, I leverage my creativity and expertise to deliver exceptional
			results on every project. My multidisciplinary background enables me to approach challenges
			from different angles, ensuring innovative and effective outcomes. As a front-end developer I
			am committed to creating seamless and engaging user experiences.
		</p>
	</div>
</div>
