---
import { Image } from 'astro:assets'

import ArrowBendDownRight from '../icons/phosphor/arrow-bend-down-right.astro'
import ProfilePhoto from '../images/patrick.png'
---

<div class="mx-auto flex max-w-screen-xl flex-col justify-between md:gap-16 lg:flex-row lg:gap-16">
	<div class="mt-8 w-full px-4">
		<span class="-mt-16 block text-5xl lg:-mt-20">😗</span>
		<span class="sr-only">A short description about</span>
		<h1 class="mb-2 text-7xl font-bold">Patrick Roelofs</h1>
		<p class="mb-4 max-w-2xl text-pretty text-lg">
			As a front-end developer, I'm passionate about pushing cutting-edge technologies. I love
			experimenting with new tools and frameworks to create innovative products. My goal is to craft
			products that improve the user experience, enhance functionality, and drive innovation.
		</p>

		<div class="mt-8 flex flex-row gap-4">
			<ArrowBendDownRight size="32" />
			<a
				class="text-lg font-bold hover:underline focus:underline focus:outline-none"
				href="/blog"
				target="_self"
			>
				Blog
			</a>
			<a
				class="text-lg font-bold hover:underline focus:underline focus:outline-none"
				href="/blog"
				target="_self"
			>
				Projects
			</a>
			<a
				class="text-lg font-bold hover:underline focus:underline focus:outline-none"
				href="/contact"
				target="_self"
			>
				Contact
			</a>
		</div>
	</div>
	<div class="mx-auto w-full max-w-[480px] bg-hermes-200 lg:-mt-32">
		<Image
			alt=""
			class="h-full w-full object-cover object-bottom"
			loading="eager"
			src={ProfilePhoto}
		/>
	</div>
</div>
