:root {
	/* Colors */
	--color-sand: #f9e4d6;
	--color-black: #010301;
	--color-blue: #2d2691;
	--color-red: #a23648;
	--color-yellow: #fccf00;
	--color-white: #FAF5F7;

	/* Font Size */
	--step-0: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5rem);
	--step-1: clamp(1.5rem, 1.4063rem + 0.4688vw, 1.875rem);
	--step-2: clamp(1.8rem, 1.6641rem + 0.6797vw, 2.3438rem);
	--step-3: clamp(2.16rem, 1.9676rem + 0.9621vw, 2.9297rem);
	--step-4: clamp(2.592rem, 2.3245rem + 1.3376vw, 3.6621rem);
	--step-5: clamp(3.1104rem, 2.7436rem + 1.834vw, 4.5776rem);
	--step-6: clamp(3.7325rem, 3.2351rem + 2.487vw, 5.722rem);

	/* Space */
	--space-3xs: clamp(0.3125rem, 0.2969rem + 0.0781vw, 0.375rem);
	--space-2xs: clamp(0.625rem, 0.5938rem + 0.1563vw, 0.75rem);
	--space-xs: clamp(0.9375rem, 0.8906rem + 0.2344vw, 1.125rem);
	--space-s: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5rem);
	--space-m: clamp(1.875rem, 1.7813rem + 0.4688vw, 2.25rem);
	--space-l: clamp(2.5rem, 2.375rem + 0.625vw, 3rem);
	--space-xl: clamp(3.75rem, 3.5625rem + 0.9375vw, 4.5rem);
	--space-2xl: clamp(5rem, 4.75rem + 1.25vw, 6rem);
	--space-3xl: clamp(7.5rem, 7.125rem + 1.875vw, 9rem);

	/* One-up Pairs Space */
	--space-3xs-2xs: clamp(0.3125rem, 0.2031rem + 0.5469vw, 0.75rem);
	--space-2xs-xs: clamp(0.625rem, 0.5rem + 0.625vw, 1.125rem);
	--space-xs-s: clamp(0.9375rem, 0.7969rem + 0.7031vw, 1.5rem);
	--space-s-m: clamp(1.25rem, 1rem + 1.25vw, 2.25rem);
	--space-m-l: clamp(1.875rem, 1.5938rem + 1.4063vw, 3rem);
	--space-l-xl: clamp(2.5rem, 2rem + 2.5vw, 4.5rem);
	--space-xl-2xl: clamp(3.75rem, 3.1875rem + 2.8125vw, 6rem);
	--space-2xl-3xl: clamp(5rem, 4rem + 5vw, 9rem);
}