---
import type {HTMLAttributes} from 'astro/types'
import styles from './navigation.module.css'
import Arrow from '../../components/icons/arrow.astro'
import Link from '../../components/link/link.astro'

interface Props extends HTMLAttributes<'a'> {
  iconPosition: 'topLeft' | 'topRight' | 'bottomLeft' | 'bottomRight';
}

const {href, iconPosition} = Astro.props
---

<Link href={href} class={styles.navItem}>
  <slot />
  <span class:list={[styles.navItemIcon, styles[iconPosition]]}>
    <Arrow />
  </span>
</Link>