---
import styles from './navigation.module.css'
import Section from '../../components/section/section.astro'
import NavigationLink from './navigationLink.astro'
import Star from '../../components/icons/star.astro'
import Link from '../../components/link/link.astro'
---

<header>
  <Section class={styles.wrapper}>
    <Link href="/apps/app/public" class={styles.logo}>
      Patrick Roelofs
      <span class={styles.star} aria-hidden="true">
        <Star />
      </span>
    </Link>
    <nav>
      <ul class={styles.navList}>
        <li>
          <NavigationLink href="#" iconPosition="topLeft">Home</NavigationLink>
        </li>
        <li>
          <NavigationLink href="#" iconPosition="bottomLeft">Tools</NavigationLink>
        </li>
        <li>
          <NavigationLink href="#" iconPosition="topRight">Blog</NavigationLink>
        </li>
        <li>
          <NavigationLink href="#" iconPosition="bottomRight">Projects</NavigationLink>
        </li>
      </ul>
    </nav>
  </Section>
</header>