---
import '@fontsource-variable/figtree'
import { SEO } from 'astro-seo'
import  SpeedInsights  from '@vercel/speed-insights/astro'
---

<html lang="en">
	<head>
		<SEO
			charset="utf-8"
			description="Patrick Roelofs is a front-end developer and designer from the Netherlands."
			extend={{
				meta: [
					{
						content: 'width=device-width, initial-scale=1.0',
						name: 'viewport'
					}
				]
			}}
			title="Patrick Roelofs"
		/>

		<link href="/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
		<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
		<link href="/favicon/site.webmanifest" rel="manifest" />
		<link color="#f9e4d6" href="/favicon/safari-pinned-tab.svg" rel="mask-icon" />
		<meta content="#f9e4d6" name="msapplication-TileColor" />
		<meta content="#f9e4d6" name="theme-color" />
	</head>
	<body class="bg-hermes-100 font-sans">
		<slot />

		<SpeedInsights />
	</body>
</html>
