.richtext {
	color: inherit;
	font-size: var(--font-size-base);

	p:not(:last-child) {
		margin: 0 0 var(--space-2xs) 0;
	}

	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	h3 {
		font-size: var(--font-size-md);
	}

	h4 {
		font-size: var(--font-size-sm);
	}

	h5 {
		font-size: var(--font-size-base);
	}

	h6 {
		font-size: var(--font-size-base);
	}

	blockquote {
		margin: 0 0 var(--space-2xs) 0;
		padding: 0 var(--space-2xs);
		border-left: 4px solid var(--color-black);
		font-style: italic;
	}

	ul,
	ol {
		margin: 0 0 var(--space-2xs) 0;
	}

	hr {
		margin: 0 0 var(--space-2xs) 0;
		border: 2px solid var(--color-black);
	}

	code {
		color: var(--color-redleather);
	}

	a {
		display: inline-flex;
		color: var(--color-black);
		text-decoration: underline;
		text-decoration-color: var(--color-black);
		align-items: center;
	}
}
