.wrapper {
	display: flex;
	gap: var(--space-xs);
	padding-top: var(--space-xs);
	align-items: center;
	justify-content: space-between;
}

.star {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	width: 12px;

	svg {
		fill: var(--color-yellow);
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: var(--color-black);
	font-size: var(--font-size-xl);
	font-weight: bold;
	text-decoration: none;

	&:hover {
		.star {
			bottom: -24px;
			right: -36px;
			opacity: 1;
			visibility: visible;
			width: 64px;
		}
	}
}

.navList {
	display: flex;
	gap: var(--space-m);
	list-style: none;
}

.navItem {
	position: relative;
	color: var(--color-black);
	font-size: var(--font-size-sm);
	font-weight: bold;
	text-decoration: none;
	transition: color 0.185s ease-in-out;

	.navItemIcon {
		visibility: hidden;
		position: absolute;
		opacity: 0;
		transition: all 0.185s ease-in-out;
	}

	&:hover {
		color: var(--color-red);

		.navItemIcon {
			visibility: visible;
			opacity: 1;
		}
	}
}

.topLeft {
	left: -32px;
	top: -16px;
	rotate: 110deg;
}

.topRight {
	right: -18px;
	top: -24px;
	rotate: -140deg;
}

.bottomLeft {
	bottom: -24px;
	left: -24px;
	rotate: 48deg;
}

.bottomRight {
	bottom: -32px;
	right: -16px;
	rotate: -48deg;
}

@media (width <= 768px) {
	.wrapper {
		flex-direction: column;
		padding-bottom: var(--space-m);
	}
}